@media only screen and (max-width: 1550px) {
    .testimonials-container, .subscribe-container {
        margin-left: calc(50px + (320 - 50) * ((100vw - 1200px) / (1550 - 1200)));
    }
    .footer-contact-container{
        margin-left: calc(76px + (346 - 76) * ((100vw - 1280px) / (1550 - 1280)));
    }
    .footer-container {
        margin-left: calc(70px + (346 - 70) * ((100vw - 1277px) / (1550 - 1277)));
    }
}
@media only screen and (max-width: 1277px) {
    .development-container, .testimonials-container, .subscribe-container, .footer-contact-container, .footer-container {
        width: 95%;
        margin: 0 auto;
    }
    .contact-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        row-gap: 50px;
}
    .about, .office {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 45%;
                flex: 1 1 45%;
    }
    .contact-item:nth-child(2) {
        margin-right: 0;
    }
    .footer-form {
        margin: 0 auto;
        width: 572px;
    }
}
@media only screen and (max-width: 800px) {
    .header-content {
        width: 95%;
    }
    #d, #h, #m, #s {
        width: calc(47px + (147 - 47) * ((100vw - 320px) / (800 - 320)));
        height: calc(47px + (147 - 47) * ((100vw - 320px) / (800 - 320)));
        font-size: calc(20px + (72 - 20) * ((100vw - 320px) / (800 - 320)));
        padding-top: calc(5px + (15 - 5) * ((100vw - 320px) / (800 - 320)));
    }
    .count {
        width: 80%;
        margin: 0 auto;
    }
    .days p {
        left: 40%;
    }
    .hours p {
        left: 35%;
    }
    .minutes p {
        left: 29%;
    }
    .seconds p {
        left: 31%;
    }
    .latest-tweets-container {
        width: 95%;
    }
    .development-item {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .development-container {
        width: 60%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .development-item {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .development-item:nth-last-child(1) {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 700px) {
    #d, #h, #m, #s {
        padding-top: calc(5px + (20 - 5) * ((100vw - 320px) / (700 - 320)));
    }
    .days p, .hours p, .minutes p, .seconds p {
        bottom: -20px;
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (700 - 320)));
}
    .days p {
        left: calc(20% + (40 - 20) * ((100vw - 320px) / (700 - 320)));
    }
    .hours p {
        left: calc(-2% + (35 - (-2)) * ((100vw - 320px) / (700 - 320)));
    }
    .minutes p {
        left: calc(-10% + (29 - (-10)) * ((100vw - 320px) / (700 - 320)));
    }
    .seconds p {
        left: calc(3% + (40 - 3) * ((100vw - 320px) / (700 - 320)));
}
}
@media only screen and (max-width: 600px) {
    .subscribe-container {
        display: block;
    }
    .subscribe-title {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .subscribe form {
        width: 85%;
    }
    .subscribe input {
        width: 100%;
    }
    .subscribe button {
        width: 30%;
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (600 - 320)));
    }
    .testimonials-container {
        display: block;
    }
    .testimonials-text {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .contact-item-form {
        width: 95%;
    }
    .contact-item-form input, .contact-item-form textarea {
        width: 100%;
    }
}